credientials.py
credientials.pyc
*.pyc
defunct_files/
depreciated_files/
DataChecker/
Yup.py
test.db
index.html
2015-16.db
Legacy_Data/2015-16_Data.csv
Legacy_Data/2015-16_Data.txt
getDBfromOldData.py
