body {
  margin:auto;
  background-color:#F5F5F5;
  width:70%;
}

h1 {
  color: #228B22;
  padding-top:15px;
  padding-bottom: 0px;
  margin-bottom:0px;
}

#explanation {
	color:#E0EBEB;
	width:80%;
	padding:15px 5px 15px 5px;
	text-align: left;
	background-color:#669999;
	border-style: solid;
	border-color:black;
	border-width:2px;
	border-radius:10px;
}

th {
    border-style: solid;
    border-width: 1px;
    background-color: #F0FFC2;
}

table {
	border-width:1px;
}

#header_playerName {
	width: 15%;
}
#header_playerTeam {
	width: 15%;
}
#header_playerPenalty {
	width: 15%;
}
#header_penaltyDate {
	width: 10%;
}
#header_opponentName {
	width: 15%;
}
#header_location {
	width: 5%;
}
#header_referees {
	width: 25%;
}